.panda-bg-info {
    background-color: #FCEAE8;
}

.panda-bg-warning {
    background-color: #FFA500;
}

.panda-bg-success {
    background-color: orchid;
}

.panda-bg-primary {
    background-color: blue;
}

.categories img {
    width: 100px;
}


.panda-border {
    border-radius: 10px;
}

.panda-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}